
.panel-default > .panel-heading {
    color: #333333;
    background-color: #f5f5f5;
    border-color: #d3e0e9;
}

.panel-body{
    padding: 0px;
}

.extend-panel-body{
    padding: 15px;
}

.main > .container {
    background:#fff;
    background-color: #fff;
    border-top: 1px solid #ccc;
    max-width:100%;
    margin-top:0px;
    padding:20px 0;
    min-height: 400px;
}
.main > .container > .col-md-2{

}
.sidebar{
    margin-top: 50px;
    min-height: 400px;
    color: #fff;
}